<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destory"/>-->
    <!--        <bean id="userDao" class="com.itheima.factory.StaticFactory" factory-method="getUserDao"/>-->
    <!--    <bean id="factory" class="com.itheima.factory.DynamicFactory"/>-->
    <!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"/>-->


    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl">
        <!--        <property name="username" value="张三"/>-->
        <!--        <property name="age" value="18"/>-->
        <property name="stringList">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
                <value>6</value>
            </list>
        </property>
        <property name="userMap">
            <map>
                <entry key="user1" value-ref="1"/>
                <!--                <entry key="1" value="1"/>-->
                <!--                <entry key="1" value="1"/>-->
                <!--                <entry key="1" value="1"/>-->
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
                <prop key="p4">ppp4</prop>
            </props>

        </property>
    </bean>
    <bean id="1" class="com.itheima.domain.User">
        <property name="name" value="ll"/>
        <property name="addr" value="wbh"/>
    </bean>
    <!--    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl">-->
    <!--        <property name="userDao" ref="userDao"/>-->
    <!--    </bean>-->
    <!--    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl" p:userDao-ref="userDao"/>-->
    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>
    <import resource="application-user.xml"/>
    <import resource="applicationContext-product.xml"/>
</beans>